<nav id="pagination">
<% if (page.prev || page.next){ %>

      <% if (page.prev) { %>
        <a href="<%- url_for(page.prev.path) %>" class="alignleft prev"><%= __('prevarticle') %></a>
      <% } %>

      <% if (page.next) { %>
        <a href="<%- url_for(page.next.path) %>" class="alignright next"><%= __('nextarticle') %></a>
      <% } %>
<% } %>
</nav>